body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container{
    display: flex;
    justify-content: center;
    max-width: 750px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#container div{
    border: 1px solid #000;
}

#control{
    margin: 0 auto;
    text-align: center;
}

.clear{
    background-color: #FFF !important;
}